doctype html
html
	head
		title #{title}
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		link(type="text/css",rel="stylesheet",href="dist/vendor/antd.chunk.css")
		link(type="text/css",rel="stylesheet",href="dist/apps/app.css")
	body
		
		#container

		script(type='text/javascript', src='//webapi.amap.com/maps?v=1.4.1')
		script(type='text/javascript', src='/dist/vendor/react.chunk.js')
		script(type='text/javascript', src='/dist/vendor/antd.chunk.js')
		script(type='text/javascript', src='/dist/apps/app.js')