doctype html
html
	head
		title #{title}
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		link(type="text/css",rel="stylesheet",href="/dist/css/index.css")
	body
		header
		main
			#container
		footer
		script(type='text/javascript', src='/dist/js/vendor.js')
		script(type='text/javascript', src='/dist/js/test.js')